$premium: #6ea3bc;
$accent: #232425;
$shadow: inset 0px 0px 2px 1px rgb(255 255 255 / 6%);

%museo-100 {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 100;
  font-style: normal;
}

%museo-300 {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 300;
  font-style: normal;
}

%museo-500 {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%museo-700 {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 700;
  font-style: normal;
}

%museo-900 {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 900;
  font-style: normal;
}